$primary: rgb(147, 86, 220);
$secondary: rgb(255, 121, 218);
$tertiary: rgb(153, 226, 208);

body {
    background-color: #F7F7F7;
    font-family: 'Roboto';
    margin: 0;
    -webkit-font-smoothing: antialiased;

}

section {
    padding: 40px 20px 50px 20px;
}

h3 {
    font-size: 24px;
}

.header {
    text-align: center;

    &__logo {
        padding: 20px 0 10px 0;
        display: flex;
        justify-content: center;
        box-shadow: 0px 3px 3px rgb(0 0 0 / 0.25);
        z-index: 2;
        position: relative
    }

    &__location {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        background-color: #EAEAEA;
    }
}

.hero {
    text-align: center;

    &__h1 {
        font-size: 23px;
        font-weight: bold;
        margin: 0px 50px 20px 50px;
    }

    &__h2 {
        font-size: 18px;
        font-weight: 300;
        color: black;
    }

    &__button {
        padding: 18px 23px 18px 23px;
        border-radius: 50px;
        background-color: $primary;
        background-image: linear-gradient($secondary, rgb(147, 86, 220, 0));
        border: none;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 500;
        color: white;
        box-shadow: 0px 3px 3px rgb(0 0 0 / 0.25);
        cursor: pointer;
        transition: all 200ms;

        &:hover {
            background-color: $secondary;
            box-shadow: 0px 3px 3px rgb(0 0 0 / 0.35);

        }
    }
}

.functionning {
    background-color: white;

    &__list {
        padding: 0px 0px 0px 15px;
    }

    &__li {
        padding: 30px 0px 30px 0px;
        margin: 25px 0 0 0;
        background-color: #F7F7F7;
        border-radius: 17.5px;
        counter-increment: custom;
        list-style-type: none;
        position: relative;
        box-shadow: 0px 5px 5px rgb(0 0 0 / 0.25);
        font-weight: 500;


        &-purple {
            background-color: lighten($primary, 35%);
        }

        &:before {
            content: counter(custom) " ";
            display: inline-block;
            position: absolute;
            left: -12.5px;
            width: 25px;
            padding: 2.5px 0 2.5px 0;
            border-radius: 25px;
            text-align: center;
            align-items: center;
            background-color: $primary;
            color: white;

        }
    }
}


.fa-solid {
    color: #808080;
    margin: 0 20px 0 35px;
    font-size: 20px;
}

.fa-store {
    color: $primary;
}

.restaurants {
    &__article {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: white;
        margin: 9px 0 9px 0;
        border-radius: 15px;
        overflow: hidden;
        position: relative;

        &-new::before {
            content: "Nouveau";
            font-weight: 500;
            background-color: $tertiary;
            color: darken($tertiary, 35%);
            font-size: 14px;
            display: block;
            position: absolute;
            padding: 8px 10px 8px 8px;
            margin: 10px 0 0 0;
            right: 33px;
            width: fit-content;
            border-radius: 3px;
        }

    }

    &__img {
        overflow: hidden;
        width: 100%;
        height: 175px;
        object-fit: cover;
    }

    &__h4 {
        margin: 20px 0 0 14px;
        font-size: 18px;
        font-weight: 700;
    }

    &__h5 {
        margin: 0;
        font-size: 18px;
        font-weight: 300;
        margin: 0 0 18px 14px;
    }

}

.fa-heart {
    display: block;
    font-size: 21px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background: linear-gradient(white 50%, $primary 51%, $secondary);
    background-size: 100% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: 400ms all;
    position: absolute;
    bottom: 25px;
    right: 0px;


    &:hover {
        background-position: bottom;
        -webkit-text-stroke-color: transparent;
        }
}